POSTGRES_DB=bank
POSTGRES_USER=user
POSTGRES_PASSWORD=password

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/bank # jdbc:postgresql://db:5432/bank for Docker
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=password
SPRING_JPA_HIBERNATE_DDL_AUTO=update